In [24]:
import pandas as pd
from io import StringIO
data = u'''
89	7921	96
72	5184	74
94	8836	87
69	4761	78
'''
df = pd.read_csv(StringIO(data), sep = '\t', header = None)
print (df - df.mean()) / (df.max() - df.min())

      0         1         2
0  0.32  0.305644  0.556818
1 -0.36 -0.366012 -0.443182
2  0.52  0.530184  0.147727
3 -0.48 -0.469816 -0.261364

In [9]:
df

    0     1   2
0  89  7921  96
1  72  5184  74
2  94  8836  87
3  69  4761  78

In [13]:
df.mean(axis = 0)

0      81.00
1    6675.50
2      83.75
dtype: float64

In [14]:
df.max()

0      94
1    8836
2      96
dtype: int64

In [15]:
df.min()

0      69
1    4761
2      74
dtype: int64

In [16]:
df.max() - df.min()

0      25
1    4075
2      22
dtype: int64

In [19]:
df.mean() - df.min()

0      12.00
1    1914.50
2       9.75
dtype: float64

In [23]:
df - df.mean()

      0       1      2
0   8.0  1245.5  12.25
1  -9.0 -1491.5  -9.75
2  13.0  2160.5   3.25
3 -12.0 -1914.5  -5.75

In [22]:
(df - df.mean()) / (df.max() - df.min())

      0         1         2
0  0.32  0.305644  0.556818
1 -0.36 -0.366012 -0.443182
2  0.52  0.530184  0.147727
3 -0.48 -0.469816 -0.261364

In [20]:
12.00 / 25

0.48